# IntelliJ:
.idea/workspace.xml
.idea/compiler.xml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/copyright
.idea/inspectionProfiles
.idea/uiDesigner.xml



# Exclude compiled output
/out/


notes.txt

